<div class="menu" id="menu">
        <ul class="menu-items">
            <li><a href="#logout" class="active-link" onclick="logout()">Logout</a></li>
            
        </ul>

        <!-- Social Media Icons -->
        
    </div>
