
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" content="{{csrf_token}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KI Email Manager</title>
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <style>
        {% include 'styles/css.html.twig' %}
        {% include 'styles/cssAccountsSection.html.twig' %}
        
        </style>
    
</head>
<body>
    <!-- ==================== LANDING PAGE ==================== -->
    <div class="landing-page" id="landingPage">
    
    {% include 'components/landingPage.html.twig' %}
    </div>

    <!-- ==================== SECTION 1: SEARCH BUILDER ==================== -->
    <div class="app-section" id="searchSection">
    {% include 'components/searchSection.html.twig' %}
        
    </div>

    <!-- ==================== SECTION 2: SUBJECT CHANGER ==================== -->
    <div class="app-section" id="subjectSection">
      {% include 'components/subjectSection.html.twig' %}
        
    </div>

    <!-- ==================== SECTION 3: BULK MANAGER ==================== -->
    <div class="app-section" id="bulkSection">
     {% include 'components/bulkSection.html.twig' %}
    </div>


    <!-- ==================== SECTION 4: IMAP Account settings  ==================== -->    
    <div class="app-section" id="accountsSection">
     {% include 'components/imapCredentials.html.twig' %}
    </div>
   
    {% include 'components/script.html.twig' %}
</body>
</html>

              